<nav class="navbar">
  <div class="container">
    <div class="logo">
      <img src="../../assets/img/logo2.png" width="auto" height="64px">
    </div>
    <ul class="nav-links desktop-only">
      <li><a routerLink="/">Startseite</a></li>
      <li><a routerLink="/faqs">FAQ's</a></li>
      <li><a routerLink="/">Matches</a></li>
        <li *ngIf="isLoggedIn$ | async; else dashbtn">
          <app-button label="Dashboard" variant="primary" routerLink="/dashboard"></app-button>
        </li>
        <ng-template #dashbtn>
        </ng-template>
        <li *ngIf="isLoggedIn$ | async; else loginBtn">
          <app-button label="Abmelden" variant="secondary" (click)="logout()"></app-button>
        </li>
        <ng-template #loginBtn>
          <app-button label="Spieler Login" variant="primary" (click)="toggleLoginModal()"></app-button>
        </ng-template>
    </ul>

    <div class="burger" (click)="toggleMobileMenu()">
      <span [class.open]="isMobileMenuOpen"></span>
      <span [class.open]="isMobileMenuOpen"></span>
      <span [class.open]="isMobileMenuOpen"></span>
    </div>
  </div>

  <ul class="mobile-menu" *ngIf="isMobileMenuOpen">
    <li><a routerLink="/" (click)="toggleMobileMenu()">Start</a></li>
    <li><a routerLink="/faqs" (click)="toggleMobileMenu()">About</a></li>
    <li><a routerLink="/" (click)="toggleMobileMenu()">Components</a></li>
  </ul>
</nav>
<app-loginmodal [visible]="showLoginModal" (close)="toggleLoginModal()"></app-loginmodal>
