<nav class="navbar">
  <div class="container">
    <div class="logo">
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.wixstatic.com%2Fmedia%2F52610a_dd861e2eebe044aba86af76068499c1d~mv2.png%2Fv1%2Ffill%2Fw_901%2Ch_282%2Cal_c%2Cq_85%2Cenc_avif%2Cquality_auto%2FLogo%2520Colour%2520Reduced.png&f=1&nofb=1&ipt=bf40aa658cc56cf3df9bc6f8c7d4f2115db4e89f277f91681d1b3204e27d59b0" width="auto" height="64px">
    </div>
    <ul class="nav-links desktop-only">
      <li><a routerLink="/">Startseite</a></li>
      <li><a routerLink="/about">FAQ's</a></li>
      <li><a routerLink="/components">Matches</a></li>
      <li><app-button label="Anmelden" (click)="toggleLoginModal()" variant="primary"></app-button></li>
    </ul>

    <div class="burger" (click)="toggleMobileMenu()">
      <span [class.open]="isMobileMenuOpen"></span>
      <span [class.open]="isMobileMenuOpen"></span>
      <span [class.open]="isMobileMenuOpen"></span>
    </div>
  </div>

  <ul class="mobile-menu" *ngIf="isMobileMenuOpen">
    <li><a routerLink="/" (click)="toggleMobileMenu()">Start</a></li>
    <li><a routerLink="/about" (click)="toggleMobileMenu()">About</a></li>
    <li><a routerLink="/components" (click)="toggleMobileMenu()">Components</a></li>
  </ul>
</nav>
<app-loginmodal [visible]="showLogin" (close)="toggleLoginModal()"></app-loginmodal>
