<app-hero
  title="Dein Spielfeld. Deine Liga. Dein Triumph."
  subtitle="Battle im virtuellen Stadion der deutschen Rematch Esports Liga und sichere dir deinen Platz in den Geschichtsbüchern."
  buttonText="Kommende Matches ansehen"
  buttonLink="#overview"
  backgroundImage="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.api.playstation.com%2Fvulcan%2Fap%2Frnd%2F202412%2F1301%2F126685285824e15abba264b3719278eca2ea689cf3de6bc1.jpg&f=1&nofb=1&ipt=8eb5815f41cc20f69c575237bdad0f95838fbba78be16894ead2b2562b0d0012"
  [showTwitchToggleButton]="true"
  >
</app-hero>

<section class="twitch-stream">
  <div class="home-header">
    <h1>Live auf Twitch</h1>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
  <app-twitch-player channel="rematchde"></app-twitch-player>
</section>

<app-upcoming-matches
  *ngFor="let match of upcomingMatches"
  [teamAName]="match.teamAName"
  [teamBName]="match.teamBName"
  [teamALogo]="match.teamALogo"
  [teamBLogo]="match.teamBLogo"
  [date]="match.date">
</app-upcoming-matches>

<app-match-table [matches]="matches"></app-match-table>

<div class="match-planner-wrapper">
  <div class="match-planner">
    <h2>Taktik Planer</h2>
    <app-match-planner></app-match-planner>
  </div>
</div>
