.match-planner {
    max-width: 1200px;
}

.match-planner-wrapper {
    max-width: 1100px;
    margin: 2rem auto;
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
}

.twitch-stream {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
}

.home-header h1 {
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(135deg, #19e3b4, #19e345);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.home-header p {
  color: #6b7280;
  text-align: center;
}