<section
  class="hero"
  [ngClass]="{ 'has-bg': backgroundImage }"
  [ngStyle]="{
    '--hero-bg-image': backgroundImage ? 'url(' + backgroundImage + ')' : 'none'
  }"
>
  <ng-container *ngIf="title || subtitle">
    <h1 *ngIf="title">{{ title }}</h1>
    <p *ngIf="subtitle">{{ subtitle }}</p>
  </ng-container>

  <ng-content></ng-content>

  <a
    *ngIf="buttonText && buttonLink"
    [href]="buttonLink"
    class="cta-button"
  >
    {{ buttonText }}
  </a>

  <button
    *ngIf="showTwitchToggleButton"
    (click)="toggleTwitchPlayer()"
    class="toggle-button"
  >
    {{ twitchVisible ? 'Stream verbergen' : 'Jetzt live zusehen!' }}
  </button>

  <div
    class="twitch-container"
    [class.expanded]="twitchVisible"
    *ngIf="twitchVisible"
  >
    <app-twitch-player channel="rematchde"></app-twitch-player>
  </div>
</section>
