<app-hero
  title="Häufig gestellte Fragen"
  subtitle="Dies ist eine Beispiel Herosection."
  buttonText="Kommende Matches ansehen"
  buttonLink="#overview"
  backgroundImage="https://images4.alphacoders.com/139/1397002.jpg"
>
</app-hero>

<ng-container *ngFor="let faq of faq">
  <app-accordion [title]="faq.frage">
    <p>{{faq.antwort}}</p>
     <app-button label="Primary" variant="primary"></app-button>
     <app-button label="Secondary" variant="secondary"></app-button>
     <app-button label="Danger" variant="danger"></app-button>
    </app-accordion>
</ng-container>